body {
  --border-radius: 5px;
  --whitespace: 10px;
  --color-primary: #7d8491;
  --color-secondary: #c0c5c1;
  --color-dark: #3f334d;
  --color-light: #eaf0ce;
  --color-medium: #574b60;
  margin: 0;
  padding: 0;
  background: var(--color-secondary);
  font-family: Arial, Helvetica, sans-serif;
}

.form-control {
  margin-bottom: 12px;
}

.card {
  margin: 0 auto;
  max-width: 25rem;
  padding: var(--whitespace);
}

.card-header {
  font-size: 24px;
  background: transparent;
  border: 0;
}

.btn-primary {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}