:root {
  --border-radius: 5px;
  --whitespace: 10px;
  --color-primary: #7d8491;
  --color-secondary: #c0c5c1;
  --color-dark: #3f334d;
  --color-light: #eaf0ce;
  --color-medium: #574b60;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-secondary);
  height: 100%;
}

#wrapper #content-wrapper {
  background-color: var(--color-secondary);
  width: 100%;
  overflow-x: hidden;
}

#content-wrapper #content {
  flex: 1 0 auto;
}

.form-control {
  margin-bottom: 12px;
}

.card {
  margin: 20vh auto 0 auto;
  max-width: 25rem;
  padding: var(--whitespace);
}

.card-header {
  font-size: 24px;
  background: transparent;
  border: 0;
}

.account-panel {
  /* height: 100vh; */
  min-height: 100vh;
  color: var(--color-light);
}

.sidebar {
  color: green;
  min-height: 100vh;
}

.main-screen {
  color: yellow;
  min-height: 100vh;
}

.options {
  display: none;
}

.options .open {
  color: brown;
  min-height: 100vh;
  z-index: 1000px;
}

.options .close {
  display: none;
}

@media screen and (min-width: 720px) {
  .options {
    display: block;
  }
}

.btn-primary {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}